/*top start*/
.top {
    height: 30px;
    background-color: #323232;
    overflow: hidden;
}

.top a:hover {
    color: #10b041;
    text-decoration: none;
}

.top .logo {
    display: block;
    width: 58px;
    height: 18px;
    margin: 6px 0 6px 30px;
    float: left;
}

.top .logo img {
    width: 58px;
    height: 18px;
}

.ulL li {
    float: left;
    line-height: 30px;
    margin-left: 30px;
}

.ulL li a {
    font: 700 14px "풕턼환쥌";
    color: #c0c0c0;
}

.ulR {
    float: right;
    margin-right: 30px;
}

.ulR li {
    float: left;
    line-height: 30px;
    margin-left: 14px;
    color: #c0c0c0;
}

.ulR li a {
    font: 700 14px "풕턼환쥌";
    color: #c0c0c0;
}

.ulR li img {
    margin-top: 7px;
}

/*search start*/
.search {
    height: 120px;
    background-image: linear-gradient(180deg, #50c971, #0fbfa6);
    background: #42c77b url(../images/head-wordbg.png) no-repeat 100%;
}

.search .search_in h1 {
    float: left;
}

.search .search_in h1 a {
    font: 36px/120px "풕턼환쥌";
    color: #fff;
    text-decoration: none;
}

.search_in > a {
    float: left;
    color: #fff;
    font-size: 16px;
    line-height: 15px;
    margin: 62px 40px 0 15px;
    padding-left: 15px;
    text-decoration: none;
    border-left: 1px solid #fff;
}

.search .search_in .inputs {
    width: 488px;
    float: left;
    line-height: 120px;
}

.search .search_in .inputs input {
    margin-top: 40px;
    height: 40px;
}
.search .search_in .inputs .inpL {
    width: 334px;
    border : 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
    color: #bbb;
    padding-left: 26px;
    float: left;
}
.search .search_in .inputs .inpR {
    width: 118px;
    border : 0;
    border-left: 1px solid #8ae1cb;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 18px;
    color: #0fbfa6;
    float: left;
    background-color: #fff;
}
/*nav start*/
.nav ul {
    height: 50px;
}
.nav ul li {
    float: left;
    margin: 15px 30px;
}
.nav ul li a {
    display: inline-block;
    font: 16px "풕턼환쥌";
    text-decoration: none;
    color: #333;
}
/*leftBar start*/
.midPic {
    height: 420px;
    position: relative;
}
.midPic ul {
    height: 420px;
    width: 100%;
    overflow: hidden;

}
.midPic ul li {
    width: 100%;
    height: 420px;
}
.midPic ul li a {
    width: 100%;
    display: block;
    height: 420px;
    position: relative;
}
.midPic ul li img {
    position: absolute;
    left: -277px;
}
.midPic .left {
    cursor: pointer;
    font-family: cursive;
    font-size: 100px;
    color: #fff;
    width: 148px;
    height: 420px;
    line-height: 420px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 2px;
    background-image: linear-gradient(270deg,transparent,#666);
}
.midPic .right {
    cursor: pointer;
    font-family: cursive;
    font-size: 100px;
    color: #fff;
    width: 148px;
    height: 420px;
    line-height: 420px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 2px;
    background-image: linear-gradient(90deg,transparent,#666);
}
/*ad start*/
.ad ul {
    width: 1175px;
    height: 110px;
    margin: 20px 0;
    overflow: hidden;
}
.ad ul li{
    float: left;
    margin-right: 20px;
}
/*flashSale start*/
.flashSale {
    height: 260px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.flashSale_in {
    position: relative;
    height: 225px;
    /*margin-top: 20px;*/
    overflow: hidden;
}
.flashSale_in h2 {
    font: 700 36px "풕턼환쥌";
    float: left;
}
.flashSale_in > p {
    font: 400 14px "풕턼환쥌";
    float: left;
    padding: 24px 0 0 14px;
}
.flashSale_in > span {
    float: right;
    font: 400 14px "풕턼환쥌";
    margin-top: 24px;
    padding: 0 0 0 20px;
    cursor: pointer;
    background: url(../images/change.png) no-repeat;
}
.flashSale_in .wind {
    width: 1185px;
    height: 125px;
    margin-top: 80px;
    overflow: hidden;
    position: relative;
}
.flashSale_in ul {
    position: absolute;
    width: 1185px;
}
.flashSale_in ul li {
    float: left;
    width: 370px;
    height: 125px;
    margin-right: 25px;
}
.flashSale_in ul li img {
    border-top: 5px solid #474747;
    float: left;
}
.flashSale_in ul li p {
    font-size: 14px;
    color: #323232;
    width: 210px;
    height: 108px;
    padding: 12px 20px 0 20px;
    border-top: 5px solid #ff7467;
    float: right;
    background-color: #fff;
    position: relative;
}
.flashSale_in ul li span {
    color: #FF7467;
    font-size: 22px;
    float: right;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
/*freeGo start*/
.freeGo {
    padding-top: 30px;
    height: 670px;
}
.freeGo h2 {
    font: 700 36px "풕턼환쥌";
    float: left;
}
.freeGo > p {
    font: 400 14px "풕턼환쥌";
    float: left;
    padding: 24px 0 0 14px;
}
.freeGo .ulT {
    float: right;
    padding-right: 20px;
}
.freeGo .ulT li {
    float: left;
    margin-top: 20px;
    padding: 0 0 0 20px;
}
.freeGo .ulT li a {
    display: block;
    height: 30px;
    font: 400 16px "풕턼환쥌";
    text-decoration: none;
    color: #636363;
    line-height: 24px;
    border-bottom: 3px solid #fff;
}
.freeGo .ulT li a:hover {
    color: #0fbfa6;
    border-bottom: 3px solid #0fbfa6;
}
.freeGo {
    width: 1180px;
    overflow: hidden;
}
.freeGo .ulB {
    float: left;
    margin-top: 30px;
}
.freeGo .ulB li {
    float: left;
    width: 275px;
    height: 267px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}
.freeGo .ulB li a {
    display: block;
    width: 275px;
    height: 267px;
}
.freeGo .content {
    padding: 16px 0 0 14px;
    width: 556px;
    height: 64px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;

}

.freeGo .content .what {
    width: 42px;
    padding: 10px 14px 10px 14px;
    position: absolute;
    left: 0;
    top: -44px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}
.freeGo .content .num {
    position: absolute;
    left: 69px;
    top: -44px;
    padding: 10px 14px 10px 14px;
    font-size: 16px;
    background-color: rgba(255, 0, 0, 0.6);
}

.freeGo .sContent {
    padding: 16px 0 0 14px;
    width: 261px;
    height: 64px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}
.freeGo .sContent .what {
    width: 42px;
    padding: 10px 14px 10px 14px;
    position: absolute;
    left: 0;
    top: -44px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}
.freeGo .sContent .num {
    position: absolute;
    left: 69px;
    top: -44px;
    padding: 10px 14px 10px 14px;
    font-size: 16px;
    background-color: rgba(255, 0, 0, 0.6);
}
.freeGo .ulB .sp {
    width:275px;
    height: 217px;
    background-color: #33cea0;
    background-image: linear-gradient(180deg,#61d482,#15cbb3);
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding-top: 50px;
}
.freeGo .ulB .sp .box {
    display: inline-block;
    width: 65px;
    height: 65px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 40px;
    text-align: center;
}

    /*localPloy start*/
.localPloy {
    background-color: #f5f5f5;
}
.localPloy_in {
    width: 1185px;
    height: 534px;
    padding-top: 30px;
    background-color: #f5f5f5;
    overflow: hidden;
}
.localPloy_in h2 {
    font: 700 36px "풕턼환쥌";
    float: left;
}
.localPloy_in > p {
    font: 400 14px "풕턼환쥌";
    float: left;
    padding: 24px 0 0 14px;
}
.localPloy_in .place {
    float: right;
    padding-right: 20px;
}
.localPloy_in .place li {
    float: left;
    margin-top: 20px;
    padding: 0 0 0 20px;
}
.localPloy_in .place li a {
    display: block;
    height: 30px;
    font: 400 16px "풕턼환쥌";
    text-decoration: none;
    color: #636363;
    line-height: 24px;
    border-bottom: 3px solid #f5f5f5;
}
.localPloy_in .place li a:hover {
    color: #0fbfa6;
    border-bottom: 3px solid #0fbfa6;
}
.localPloy_in .whatCanDo {
    float: left;
    margin-top: 30px;
    position: relative;
}
.localPloy_in .whatCanDo li {
    float: left;
    width: 370px;
    height: 120px;
    margin-right: 25px;
    background-color: #fff;
    margin-bottom: 25px;
    position: relative;
}
.localPloy_in .whatCanDo li a {
    display: block;
    width: 370px;
    height: 120px;
}
.localPloy_in ul li p {
    font-size: 16px;
    color: #323232;
    width: 210px;
    height: 108px;
    padding: 12px 20px 0 20px;
    border-top: 5px solid #ff7467;
    float: right;
    background-color: #fff;
    position: relative;
}
.localPloy_in ul li span {
    color: #FF7467;
    font-size: 22px;
    float: right;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.localPloy_in .whatCanDo .more {
    background-color: #ff6a71;
    background-image: linear-gradient(180deg, #ff6476, #f22);
}
.localPloy_in .whatCanDo .more a {
    width: 370px;
    height: 215px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
.localPloy_in .whatCanDo .more .box {
    width: 65px;
    height: 65px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    margin: 30px auto;
}
.localPloy_in .whatCanDo .flo {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 370px;
    height: 175px;
    background-image: linear-gradient(180deg,transparent,#000);
    color: #fff;
}
.localPloy_in .whatCanDo .flo h3{
    padding: 0 20px;
    font-size: 18px;
    margin-top: 75px;
}
.localPloy_in .whatCanDo .flo .item {
    position: absolute;
    left: 20px;
    bottom: 10px;
    font-size: 16px;
    color: #ccc;
}

.localPloy_in .whatCanDo .flo .price {
    position: absolute;
    color: #FF7467;
    font-size: 22px;
    right: 20px;
    bottom: 10px;


}
/*recommend start*/
.recommend {
    overflow: hidden;
    padding-top: 30px;
    height: 680px;
}
.recommend h2 {
    font: 700 36px "풕턼환쥌";
    float: left;
}
.recommend > p {
    font: 400 14px "풕턼환쥌";
    float: left;
    padding: 24px 0 0 14px;
}
.recommend .ulT2 {
    float: right;
    padding-right: 20px;
}
.recommend .ulT2 li {
    float: left;
    margin-top: 20px;
    padding: 0 0 0 20px;
}
.recommend .ulT2 li a {
    display: block;
    height: 30px;
    font: 400 16px "풕턼환쥌";
    text-decoration: none;
    color: #636363;
    line-height: 24px;
    border-bottom: 3px solid #fff;
}
.recommend .ulT2 li a:hover {
    color: #0fbfa6;
    border-bottom: 3px solid #0fbfa6;
}
.recommend {
    width: 1180px;
}
.recommend .ulB2 {
    float: left;
    margin-top: 30px;
}
.recommend .ulB2 li {
    float: left;
    width: 275px;
    height: 267px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}
.recommend .ulB2 li a {
    display: block;
    width: 275px;
    height: 267px;
}
.recommend .content {
    padding: 16px 0 0 14px;
    width: 556px;
    height: 64px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;

}

.recommend .content .what {
    width: 42px;
    padding: 10px 14px 10px 14px;
    position: absolute;
    left: 0;
    top: -44px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}
.recommend .content .num {
    position: absolute;
    left: 69px;
    top: -44px;
    padding: 10px 14px 10px 14px;
    font-size: 16px;
    background-color: rgba(255, 0, 0, 0.6);
}

.recommend .sContent {
    padding: 16px 0 0 14px;
    width: 261px;
    height: 64px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}
.recommend .sContent .what {
    width: 42px;
    padding: 10px 14px 10px 14px;
    position: absolute;
    left: 0;
    top: -44px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}
.recommend .sContent .num {
    position: absolute;
    left: 69px;
    top: -44px;
    padding: 10px 14px 10px 14px;
    font-size: 16px;
    background-color: rgba(255, 0, 0, 0.6);
}
.recommend .ulB2 .sp {
    width:275px;
    height: 217px;
    background-color: #877fd0;
    background-image: linear-gradient(180deg,#b274c7,#4d8ddb);
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding-top: 50px;
}
.recommend .ulB2 .sp .box {
    display: inline-block;
    width: 65px;
    height: 65px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 40px;
    text-align: center;
}
/*bottomBar start*/
.bottomBar {
    height: 190px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.bar{
    width: 1160px;
    height: 30px;
    margin-bottom: 60px;
}
.bottomBar_in .bar li {
    padding: 0 35px;
    border-right: 2px solid #dfdfe3;
    float: left;
}
.bottomBar_in .bar li a {
    color: #575757;
    text-decoration: none;
    font-size: 18px;
}
.bottomBar_in .bar li a:hover {
    color: #0fbfa6;
}
.bottomBar_in .commitment {

}
.bottomBar_in .commitment li {
    float: left;
    width: 310px;
    padding-left: 76px;
}
.bottomBar_in .commitment .li1{
    background:url(../images/foot-feature.png) no-repeat 0 2px;
}
.bottomBar_in .commitment .li2{
    background:url(../images/foot-feature.png) no-repeat 0 -54px;
}
.bottomBar_in .commitment .li3{
    background:url(../images/foot-feature.png) no-repeat 0 -110px;
}
.bottomBar_in .commitment li h3 {
    font-size: 16px;
}
.bottomBar_in .commitment li p {
    color: #9b9b9b;
}
/*bottom start*/
.bottom {
    height: 217px;
    padding-top: 50px;
    background-color: #333;
}
.bottom_in h2 {
    display: inline-block;
    font: 400 40px/40px "턂햭쒐퉳햵釜";
    color: #fff;
    float: left;
    margin-right: 25px;
}
.bottom_in p {
    float: left;
    font-size: 14px;
    color: #c0c0c0;
}
.bottom_in span {
    text-decoration: none;
    line-height: 22px;
    font-size: 14px;
    color: #c0c0c0;
}
.bottom_in .poor {
    float: left;
    width: 736px;
}
.bottom_in .poor a ,.bottom_in .poor li{
    color: #c0c0c0;
    font-size: 14px;
}
.bottom_in .poor .link li {
    float: left;
    padding-top: 52px;
}
.bottom_in .poor .link .line {
    padding: 0 20px;
}
.bottom_in .poor .friendLink li {
    float: left;
    margin-right: 14px;
}
.bottom_in .attention {
    width: 250px;
    height: 150px;
    float: right;
}
.bottom_in .attention p {
    color: #fff;
    font-size: 16px;
    float: left;
}
.bottom_in .attention > p {
    margin-top: 16px;
}
.bottom_in .attention ul {
    width: 174px;
    float: right;
}
.bottom_in .attention li {
    cursor: pointer;
    width: 46px;
    height: 46px;
    border: 1px solid #909090;
    border-radius: 50%;
    margin-left: 10px;
    float: left;
}
.bottom_in .attention li img {
    margin: 8px 0 0 6px;
}
.bottom_in .attention .downLord {
    margin-top: 70px;
}
.bottom_in .attention .downLord img {
    margin-left: 22px;
    border: 4px solid #fff;
}
/*quickKey start*/
.quickKey {
    display: none;
    position: fixed;
    right: 0;
    top: 150px;
}

.quickKey li {
    margin: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid transparent;
}
.quickKey li a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    background-color: #33cea0;
    text-align: center;
    line-height: 60px;
}


