.nav {
    height: 55px;
    max-width: 1920px;
    background-color: #323232;
    margin: 0 auto;
    position: relative;
}
.nav .logo {
    float: left;
}
.nav .logo img{
    display: inline-block;
    width: 76px;
    height: 30px;
    margin-left: 30px;
    margin-top: 14px;
}
.nav .nav-in{
    float: left;
}
.nav-in ul {
    margin-top: 18px;
    margin-left: 30px;
}
.nav-in li{
    float: left;
    padding: 0 18px;
    position: relative;
}
.nav-in .gif{
    padding-right:26px;
}
.nav-in li a{
    font: 700 16px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #B6B6B6;
}
.nav a:hover{
   color: #10b03f;
}
.nav-in .sanjiao img{
    /*background:url("../04images/down.png") right no-repeat;*/
    position: absolute;
    height: 5px;
    width: 11px;
    margin-left: 3px;
    top: 9px;
    right: 1px;
}
.nav-in .gif img{
    width: 41px;
    height: 19px;
    position: absolute;
    top: -5px;
    right: -16px;
}
.nav .search{
    height: 58px;
    position: absolute;
    top: 0px;
    right: 60px;
    line-height: 58px;
}
.nav .search a{
    color: #B6B6B6;
   font: 600 16px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    padding-right: 20px;
    padding-left: 6px;
}
.nav .search a img{
    vertical-align: middle;
}
.nav .search a:hover{
    color: #10b03f;
}
.nav .search .xiangShang{
     border-right: 1px solid #B6B6B6;
 }

/*中间大图部分开始*/
.bigimg {
    width:100%;
    height:450px;
    background-color: yellow;
    position: relative;
}
.bigimg .adv{
    width:100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.bigimg .adv img{
    width:100%;
    height: 450px;
}
.adv #imgList li {
    float: left;
    position:relative;
}
.adv #imgList {
    position: absolute;
    top: 0;
    width:15000px;
}
.adv #imgList em{
    position: absolute;
    top: 400px;
    right: 26px;
    color: #fff;
    font: 500 18px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
}
.adv #imgList strong{
    position: absolute;
    top: 365px;
    right:25px;
    color: #fff;
    font: 500 18px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
}
.curr{
    display:block;
}

.bigimg .left{
    color: #fff;
    position: absolute;
    font-size: 60px;
    opacity: .75;
    top: 200px;
    left: 20px;
    cursor: pointer;
}
.bigimg .right{
    color: #fff;
    position: absolute;
    font-size: 60px;
    opacity: .75;
    top: 200px;
    right: 20px;
    cursor: pointer;
}
.bigimg .imgsearch{
    width: 578px;
    height: 108px;
    border-radius: 4px;
    background: url("../04images/opacity_6.png");
    /*position: fixed;*/
    top:-206px;
    left:374px;
    padding: 4px;
    position: relative;
}
.imgsearch .dont{
    font: 400 24px  "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #fff;
}
.imgsearch .shanghai{
    font: 700 14px  "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #fff;
    margin-top: 6px;
}
.imgsearch input{
    width: 490px;
    height: 44px;
    border: 0;
    border-radius: 4px;
    padding-left: 6px;
    color: #B6D0BA;
    outline: none;
}
.imgsearch button{
    height: 47px;
    width: 56px;
    outline: none;
    border: 0;
    border-radius: 4px;
    position: absolute;
    top: 35px;
    left: 506px;
    background-color: orangered;
    background-image: url("../04images/ic_search_g.png");
    background-repeat: no-repeat;
    background-position: center;
}

/*中间广告部分开始*/
.ad{
    background-color: #F5F5F5;
    border-bottom: 1px solid #ECECEC;
}
.ad-in{
    height: 112px;
    /*background-color: #F5F5F5;*/
    padding: 20px 0;
    position: relative;
}
.ad .fly{
    width: 740px;
    height: 110px;
}
.ad .try{
    position: absolute;
    top: 20px;
    right: 0;
}
/*中间广告部分结束*/
/*猜你喜欢开始*/
.favorite{
    height: 776px;
    /*background-color: yellow;*/
    padding-top: 38px;
}
.favorite h2{
    text-align: center;
    font: 30px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #636363;
    margin-bottom: 38px;
}
.favorite .one-line ul{
    height: 300px;
    /*background-color: pink;*/
    margin-bottom: 40px;
}
.favorite .one-line li{
    width: 277px;
    height: 300px;
    float: left;
    /*background-color: red;*/
    border: 1px solid #ECECEC;
    margin-right: 14px;

}
.favorite .one-line .clearPadding{
    margin-right: 0;
}
.one-line li a{
    display: inline-block;
    width: 277px;
    height: 185px;
    overflow: hidden;
}
.one-line li a img{
    width: 277px;
    height: 185px;
    transition-property: transform;
    transition-duration: 1s;
}
.one-line li a:hover img{
    transform: scale(1.3);
    /*box-shadow: 10px 10px 5px #ccc;*/
}
.li-in{
    padding: 15px;
    background: url("");
    position: relative;
}
.li-in strong{
    font:600 15px  "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #fff;
    width: 50px;
    height: 31px;
    position: absolute;
    background: url("../04images/sprite.png") -100px -84px;
    top:-170px;
    left: -5px;
    text-align: center;
    line-height: 27px;

}
.li-in h4{
    font-size: 16px;
    font-weight: 700;
    font-family: "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #323232;
}
.li-in p{
    font: 12px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    height: 25px;
    line-height: 25px;
    color: #636363;
    margin-bottom: 25px;
}
.li-in .liLeft{
    float: left;
    font: 12px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    font-weight: 700;
    color: #636363;
}
.li-in .liRight{
    float: right;
    font: 10px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #959595;
}
.li-in .liRight em{
    font-size: 14px;
    color: #FF7466;
}

.favorite .two-line ul{
    height: 300px;
    /*background-color: pink;*/
}
.favorite .two-line li{
    width: 277px;
    height: 300px;
    float: left;
    /*background-color: red;*/
    border: 1px solid #ECECEC;
    margin-right: 14px;
}
.favorite .two-line .clearPadding{
    margin-right: 0;
}
.two-line li a{
    display: inline-block;
    width: 277px;
    height: 185px;
    overflow: hidden;
}
.two-line li a img{
    width: 277px;
    height: 185px;
    transition-property: transform;
    transition-duration: 1s;
}
.two-line li a:hover img{
    transform: scale(1.3);
}
.li-in{
    padding: 15px;
}
.li-in h4{
    font-size: 16px;
    font-weight: 700;
    font-family: "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #323232;
}
.li-in p{
    font: 12px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    height: 25px;
    line-height: 25px;
    color: #636363;
    margin-bottom: 25px;
}
.li-in .liLeft{
    float: left;
    font: 12px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    font-weight: 700;
    color: #636363;
}
.li-in .liRight{
    float: right;
    font: 10px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #959595;
}
.li-in .liRight em {
    font-size: 14px;
    color: #FF7466;
}
/*猜你喜欢结束*/
/*穷游商城开始*/
.market{
    height: 516px;
    background: linear-gradient(180deg,#6dd27c 0,#1bcdae);
    padding-top: 114px;
}
.market-in {
    position: relative;
}
.market-in .imglogo{
   position: absolute;
    top: -80px;
    left: 450px;
}
.market-in .img{
    height: 344px;
    /*background-color: yellow;*/
}
.market-in .img li{
    height: 312px;
    width: 342px;
    background-color: #fff;
    border:1px solid #ECECEC;
    float: left;
    margin-right: 20px;
    padding: 30px 14px 0;
    position: relative;
}
.market-in .img .clearPadding{
    margin-right: 0;
}
.market-in .img h5{
    font:700 20px  "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #323232;
}
.market-img img{
    height: 146px;
    width: 340px;
    /*background: url("../04images/dance.gif") no-repeat;*/
    position: relative;
    margin-top: 24px;
    margin-bottom: 20px;
}
.market-img p{
    width: 340px;
    height: 144px;
}
.changeimg .market-img img{
    width: 340px;
    height: 144px;
    /*background: url("../04images/tu.gif") no-repeat;*/
}
.changeimg1 .market-img img{
    height: 146px;
    width: 340px;
    /*background: url("../04images/ge.gif") no-repeat;*/
}
.market-img p{
    height: 50px;
    width: 340px;
    background: url("../04images/opacity_6.png");
    color: #fff;
    font: 14px/50px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    position: absolute;
    top: 96px;
}
.market-in li .marleft{
    float: left;
    font: 14px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #959595;
}
.market-in li .marleft em{
    font-size: 24px;
    color: #FF7466;
}
.market-in li .marright{
    float: right;
    height: 30px;
    width: 85px;
    background-color: #FF7466;
    color:#fff;
    font: 500 16px/30px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    text-align: center;
    border-radius: 4px;

}
.market-in .more{
    width: 364px;
    height: 54px;
    font: 16px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    line-height: 54px;
    background-color: #F8F8F8;
    border-top: 1px solid #ECECEC;
    position: absolute;
    top: 286px;
    left: 0;
    padding-left: 6px;
}
.market-in .square {
    position: absolute;
    top: 386px;
    left: 477px;
}
.market-in .square li{
    width: 30px;
    height: 7px;
    border: 2px solid #fff;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.market-in .square .white{
    background-color: #fff;
}
.market-in .count{
    width: 220px;
    height: 52px;
    background-color: #fff;
    line-height: 52px;
    text-align: center;
    color: #636363;
    border-radius: 4px;
    position: absolute;
    top: 440px;
    left: 470px;
}
/*穷游商城结束*/
/*热门游记与话题开始*/
.hot{
    height: 440px;
    /*background-color: yellow;*/
    padding-top: 38px;
}
.hot h2{
    text-align: center;
    font: 30px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #636363;
    margin-bottom: 38px;
}
.hot-in {
    position: relative;
}
.hot-in .hot-one {
    width: 1168px;
    height: 290px;
    /*background-color: green;*/
    margin-bottom: 40px;
}
.hot-in .hot-one li{
    float: left;
    width: 274px;
    height: 290px;
    /*background-color: red;*/
    border: 1px solid #ECECEC;
    margin-right: 20px;
    position: relative;
}
.hot-in .hot-one .clearPadding{
    margin-right: 0;
}
.hot-in .hot-one li{
    position: relative;
}
.hot-in .hot-one li .aa:hover{
    box-shadow: 4px 4px 10px #ccc;
}
.hot-in .hot-one li .ab{
    display: inline-block;
    width: 274px;
    height: 184px;
    overflow: hidden;
}
.hot-in .hot-one li .ab img{
    width: 274px;
    height: 184px;
    transition-property: transform;
    transition-duration: 1s;
}
.hot-in .hot-one li .ab:hover img{
    transform: scale(1.3);
}

.hot-in .hot-one .small img{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 155px;
    left: 14px;
}
.hot-in .hot-one .small strong{
    position: absolute;
    background: url("../04images/sprite.png") -93px -129px;
    width: 16px;
    height: 14px;
    top: 162px;
    left: 224px;
}
.hot-in .hot-one .small em{
    position: absolute;
    color: #fff;
    font: 12px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    top: 159px;
    right: 10px;
}
.hot-in .hot-one .small span{
    position: absolute;
    top: 187px;
    left: 76px;
    font: 14px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
}
.hot-in .hot-one .down{
    position: absolute;
    top:0px;
    right: 0px;
}
.hot-in .hot-one .hua a{
    display: block;
    padding: 0 16px;
    height: 70px;
    width: 242px;
    /*background-color: #0099cc;*/
    position: absolute;
    top: 220px;
    font: 600 16px/30px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
}
.hot-in .hot-one .hua a:hover{
    color: #10b03f;
}
.hot-in .travel {
    width: 220px;
    height: 52px;
    background-color: #fff;
    line-height: 52px;
    text-align: center;
    color: #636363;
    border-radius: 4px;
    position: absolute;
    top: 753px;
    left: 470px;
    border-radius: 4px;
    border: 1px solid #ECECEC;
}

/*热门游记与话题结束*/
/*免费申请部分开始*/
.free{
    height: 455px;
    background-color: #F5F5F5;
    margin-top:440px;
}
.free .try{
    width: 370px;
    height: 390px;
    /*background-color: red;*/
    float: left;
    margin-right: 24px;
    margin-top: 42px;
    position: relative;
}
.free .reg{
    width: 370px;
    height: 390px;
    /*background-color: red;*/
    float: left;
    margin-right: 24px;
    margin-top: 42px;
    position: relative;
}
.free .special{
    width: 370px;
    height: 390px;
    /*background-color: red;*/
    float: left;
    margin-top: 42px;
}
.free .reg img{
    width: 370px;
    height: 215px;
}
.free .reg h5{
    font:500 30px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    margin: 0 0 20px 0;
}
.free .reg h5 a{
    color: #636363;
}
.reg .top{
    position: absolute;
    top: 167px;
    left: 55px;
    font: 500 16px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #fff;
}
.reg .reg-in{
    padding: 15px 20px;
}
.reg .reg-in p{
    font: 16px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    margin-bottom: 34px;
}
.free .reg .reg-in-in .left{
    float: left;
}
.free .reg .reg-in-in .left em{
    font: 14px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #FD756A;
}
.free .reg .reg-in-in .left i{
    font: 14px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #C4C4C4;
}
.free .reg .reg-in-in .right{
    width: 160px;
    height: 40px;
    background-color: #FD756A;
    color: #fff;
    font: 600 18px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    float: right;
    cursor: pointer;
}
.try-in {
    height: 124px;
    margin-top: 20px;
}
.try-in .try-in-left{
    position: relative;
    float: left;
}
.try-in .try-in-left img{
    width: 170px;
    height: 124px;
}
.try-in .try-in-left p{
    font: 600 14px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    position: absolute;
    top: 100px;
    left: 10px;
    color: #fff;
}
.try-in .try-in-right{
    float: right;
    width: 160px;
    height: 84px;
    padding:15px 20px 20px 15px;
}
.try-in .try-in-right p{
    font: 500 16px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    margin-bottom: 23px;
}
.try-in .try-in-right em{
     font: 500 14px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
     margin-bottom:4px;
     color: #FD756A;
 }
.try-in .try-in-right i{
    font: 14px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #C4C4C4;
}
.try .try-bottom{
    height: 38px;
    width: 342px;
    background-color:#fff;
    position: absolute;
    top: 325px;
    padding: 13px 14px 13px 14px;
}
.try .try-bottom p{
    float: left;
    width: 54px;
    height: 54px;
    font: 20px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    text-align: center;
    line-height: 54px;
}
.try .try-bottom img{
    float: left;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-left:10px;
}
.special h5{
    font: 30px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    color: #636363;
    margin: 0 0 20px 0;
}
.special .qs{
    height: 285px;
    width: 370px;
    /*background-color: green;*/
}
.special .qs em{
    padding:0 30px;
    border-right: 1px solid #A8A8A8;
    cursor: pointer;
}
.special .qs .cancelbor{
    border-right: 0;
}
.special .qs-top{
   padding: 18px 0;
}
.special .kanmore{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ECECEC;
}
.special .kanmore a{
    color: #A8A8A8;
}
/*免费申请部分结束*/
/*app部分开始*/
.app{
    height: 188px;
    border-top: 1px solid #ECECEC;
    /*background-color: orange;*/
}
.app .app-in p{
    float: left;
    font: 400 25px "Hiragino Sans GB","Microsoft YaHei","SimHei","SimSun","ans-serif";
    line-height: 188px;
}
.app .app-in .weixin{
    margin-left: 85px;
}
.app .app-in div{
    float: left;
    width: 80px;
    height: 113px;
    margin-left: 30px;
    text-align: center;
}
.app .app-in img{
    width: 80px;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.app .app-in div span{
    /*margin-top: 10px;*/
    font: 14px "Hiragino Sans GB", "Microsoft YaHei", "SimHei", "SimSun", "ans-serif";

}
/*app部分结束*/
/*页脚部分开始*/
.footer .footer-wrap{
    height: 222px;
    background-color: #323232;
    border-top: 3px solid #2EB359;
}
.footer .footer-wrap dl{
    float: left;
    font: 500 14px "Hiragino Sans GB", "Microsoft YaHei", "SimHei", "SimSun", "ans-serif";
    color: #C0C0C0;
    padding: 30px 40px;
}
.footer .footer-wrap dt{
    font-weight: 600;
    margin-bottom: 13px;
    border-left: 2px solid #32B85D;
    padding-left: 20px;
}
.footer .footer-wrap dd{
    margin-left: 22px;
    margin-bottom: 6px;
}
.footer .footer-wrap dd a{
    font: 500 10px "Hiragino Sans GB", "Microsoft YaHei", "SimHei", "SimSun", "ans-serif";
    color: #C0C0C0;
}
.footer .footer-bottom{
    height: 155px;
    background-color: #242424;
}
.footer-copyright {
    position: relative;
    height: 79px;
}
.footer-copyright .logo{
    width: 87px;
    height: 39px;
    float: left;
    padding-right: 10px;
    margin-top: 27px;
}
.footer-copyright p{
    float: left;
    font: 10px "Hiragino Sans GB", "Microsoft YaHei", "SimHei", "SimSun", "ans-serif";
    color: #959595;
    /*margin-top: 27px;*/
}
.footer-copyright .pmar{
    margin-top: 27px;
}
.footer-copyright p a{
    color: #959595;
}
.footer-copyright .chengxin{
    width: 103px;
    height: 37px;
    /*float: right;*/
    position: absolute;
    top: 25px;
    right: 0;
}
.footer-links a{
    font: 10px "Hiragino Sans GB", "Microsoft YaHei", "SimHei", "SimSun", "ans-serif";
    color: #3F3F3F;
}
.footer-links p{
    font: 10px "Hiragino Sans GB", "Microsoft YaHei", "SimHei", "SimSun", "ans-serif";
    color: #3F3F3F;
}
.footer-links span{
    font: 10px "Hiragino Sans GB", "Microsoft YaHei", "SimHei", "SimSun", "ans-serif";
    color: #3F3F3F;
}
/*页脚部分结束*/
.current{
    color: #1AB05F;
}